.card{
    border-radius: 10px;
    background-color: lightgoldenrodyellow
}

.search-list{
    border-radius: 15px;
    background-color: lightskyblue
}

.saveBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}